<h1>Welcome to my Portfolio!</h1>

<p>Don't you think it's a bit strange that you can sign up for a portfolio site? Anyway, here's your info:</p>

<p> Email: <%= @user.email %></p>

<p> If you need to reset your password, <%= link_to "Click Here", new_user_password_url %></p>