// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*body {
  padding-top: 65px;
}*/

.carousel {
  margin-bottom: 60px;
}

.main-section {
  @include make-row();
}

.carousel-wrapper{
  @include make-lg-column(9);
  @include make-lg-column-push(3);
}

.about-me {
  @include make-lg-column(3);
  @include make-lg-column-pull(9);
  h1 {
    margin-top: 0px;
  }
}

.skills-section {
  @include make-row();
}

.skill {
  @include make-lg-column(4);
  text-align: center;
  margin-bottom: 20px;
}

.img-dude {
  width: 140px;
  height: 140px;
}

